body{
    background-color:#999966;
    /* text-align: center; */
    margin-left: 753px;
}

#Equilateral
{
width: 0;
border-right: 200px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 200px solid #990000;

}
#Isosceles
{
width: 0;
border-right: 200px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 150px solid #990000;
}
#Scalene{
width: 0;
border-right: 220px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 180px solid #990000;
}
button{
    background-color:#4242f4;
    padding: 15px 15px;
}
dd{
    padding: 10px;
    
}
li{
    padding: 10px; 
}
ul{
    list-style-type:square;
}
h2,h3,h1{
    color: navy;
    margin-left: 20px;
    }
    a{
        color: blue;
        margin: 5px;
        padding: 20px;
    }
    input{
        padding: 10px 10px;
    }  
    p{
        color:navy;
    }
    img{
        width: 250px;
        weight:250px;
    }