body{
    background-color:#ccff99;
    /* text-align: center; */
    margin-left: 753px;
}

#Equilateral
{
width: 0;
border-right: 200px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 200px solid #990000;

}
#Isosceles
{
width: 0;
border-right: 200px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 150px solid #990000;
}
#Scalene{
width: 0;
border-right: 220px solid transparent;
border-left: 200px solid transparent; 
border-bottom: 180px solid #990000;
}
button{
    background-color:#003399;
}